{% extends "layout.html" %}
{% block content %}

<div class="p-5 mb-4 bg-dark rounded-3 text-center">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold mb-5">Hey, I'm Radek</h1>
        <p class="fs-4 text-center mt-5 mb-5">Web designer and developer from Newcastle, UK. I create custom websites to help businesses do better online.</p>
        <a href="/static/resume.pdf" class="btn btn-outline-secondary btn-lg mt-5 mb-5" role="button">My Resume</a>
    </div>
</div>

{% endblock content %}