{% extends "layout.html" %}
{% block content %}
<main class="px-3 mt-5">

  <div class="container col-xxl-8 px-4 py-5 ">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6 rounded-3">
        {% if img_src %}
        <img class="mt-5 mb-5 border border-5 rounded-3" src="{{ img_src }}">
        {% else %}
          <h1 class="fw-bolder">Tesco</h1>
          <h2 class="fw-bolder">Morrison's</h2>
          <h3 class="fw-bolder">Asda</h3>
          <h4 class="fw-bolder">Lidl</h4>
          <p>and many more to come</p>
        {% endif %}
      </div>
      <div class="col-lg-6">
        {% if msg %}
        <h1>{{ msg }}</h1>
        {% endif %}
        <h1 class="display-5 fw-bold lh-1 mb-3">OCR Demonstration</h1>
        <form class="container-sm mt-5" method=post enctype=multipart/form-data>
          <div class="container-sm input-group-sm">
            <input type="file" name="file" class="form-control" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
            <button class="btn btn-outline-secondary mt-5" type="submit" value="Upload">Process Image</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="container col-xxl-8 px-4 py-5 ">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6 rounded-3">
        {% if img_src %}
        <a class="btn btn-outline-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
          Show Text
        </a>
        {% else %}
        {% endif %}
      </div>
      <div class="col-lg-6">
        <h2>Findings</h2>

        {% if shop_name %}
        <p>I think this is {{ shop_name }}</p>
        {% elif shop_name == "" %}
        <p>I'm not sure what the shop name is..</p>
        {% else %}

        {% endif %}

        {% if total1 %}
        <p>I think the total is {{ total1 }}</p>
        {% else %}

        {% endif %}

        {% if total2 %}
        <p>Is {{ total2}} the sub-total?</p>
        {% else %}

        {% endif %}
      </div>
    </div>
  </div>

</main>

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title text-dark" id="offcanvasExampleLabel">Extracted Text</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="text-dark">
      {% if extracted_text %}
      {{ extracted_text }}
      {% else %}
      {% endif %}
    </div>

  </div>
</div>


{% endblock content %}